.principalAcerca{
    background-color: gainsboro;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fondo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes fondo{
    0%{
        background: linear-gradient(90deg, gainsboro, gray );
    }
    100%{
        background: linear-gradient(90deg, gray, gainsboro);
    }
}
.texto{
    width: 420px; 
    height:280px;
    border: 1px dotted gray;
    text-align: center;
}
.nombre{
    color: rgb(0, 191, 255);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    margin-top: 20px;
    padding: 3px;
}
.dirección{
    color: rgb(255, 0, 217);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-top: 20px;
    padding: 3px;
}
.telefono{
    color: rgb(128, 0, 255);
    font-size: 20px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-top: 20px;
    padding: 3px;

}

.Correo{
    color: rgb(255, 0, 162);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    margin-top: 20px;
    padding: 3px;

}