.principalPortafolio{
    background-color: gainsboro;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.portafolio{
    background-color: lightgray;
    width: 800px ;
    height: 525px ;
    display: flex;
    flex-wrap: wrap;
}
.items{
    background-color: white;
    width: 200px;
    height: 200px;
    margin : 20px;
    padding: 10px;
    border: 1px solid black;
}
.items:hover{
    width: 210px;
    height: 210px;
    font-size: 20px;
    border: 1px solid fuchsia;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p:hover{
    color: fuchsia;
    font-size: 25px;

}